@import '../../../styles/variables';

.LatestCourses {
  margin: 0;
  padding: 0;
  text-align: center;
    a {
      color: $cream;
      padding: 25px;
    }
}

.section-header {
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;
}

.row {
  display: flex;
  justify-content: center;
}

.card {
  display: inline-block;
}


