.UserProfile {
  display: block;
  padding: 5% 20% 0% 10%;
  margin: 5% 0% 0% 0%;
  background-color: #fcffeb;
  border-radius: 2rem;
  text-align: center;
  margin: auto;
}

  .profile-container {
      background-color:#bfbfbf;
      border-radius: 1rem
  }
  

  .userProfileImage {
    border-radius: 50%;
    padding: 25px 10px 25px 10px
  }

  .profile-info {
    background-color: #2b4570;
    color: #fcffeb;
    padding: 1rem 0 1rem 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .profile-line-item {
    padding: .5rem 0 .5rem 0;
    margin: 1rem 0 0 0;
    
  }


  .line-title {
    color: lightblue;
    font-weight: bold;
    margin-right: .5rem;
    padding: 0 0 1rem 0;
  }

  .btn {
    margin-top: 5rem;
  }



