@import '../../../styles/variables';
@import '../../../styles//events';

.SingleCourseCard {
  margin-bottom: 1rem;

  .card {
    width: 18rem;
    height: 100%;
  }

  .btn-dark-blue {
    @include dark-button;
  }
}
