@import '../../../styles/variables';
.SingleCourseView {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  flex: 1 0 auto;

  .course-image {
    width: 46%;
    margin: 1%;
    padding: 1%;
    .course-Url {
      width: 100%;
      height: 100%;
    }
  }
  .course-info {
    width: 46%;
    margin: 1%;
    padding: 1%;
    .course-title {
      font-family: $Patua;
      font-weight: 500;
      font-size: 2.5rem;
    }
    .course-description {
      font-family: $Poppins;
      font-weight: 400;
      font-size: 1.25rem;
    }
    .course-price{
      padding-bottom: 1rem;
      font-family: $Poppins;
      font-weight: 600;
      font-size: 1.5rem;
    }
  }
}
