@import '../../../styles/variables';

.Home {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;

  .title {
    margin-top: 1rem;
    font-family: $Patua;
    text-align: center;
  }
  
  .tagLine {
    margin: 0;
    padding: 1rem;
    font-size: 1.5em;
    text-align: center;
  }

  .intro-photos {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .introPic {
    height: 20em;
    padding: 10px;
  }

  .featured {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center; 
    font-weight: 500;
  }
  
  .salesCourses {
    text-align: center;
    padding: 50px;
  }
  
  .salesPic { 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 40px;
  }

  .sales {
    width: 100%;
    justify-content: center;
  }

  .btn-shop-now {
    justify-items: center;
    width: 50%;
    padding: 10px;
    margin: 2rem;
  }

  .aboutUs {  
    background-color: $medium-blue;
    color: $cream;
    padding: 30px;
    text-align: center;
    border: black solid 3px;
  }
}