.CartCourseCard {
    background-color: #8F99AE;
    color: black;
    margin: .25rem;
    padding: .75rem;
    border-radius: 1rem;
    width: 100%;
    align-items: center;
    .cart-course-img {
        height: 5.25rem;
    }
    .cart-course-details {
        padding-left: .5rem;
        .cart-course-title {
            margin: 0;
            font-weight: 500;
            font-size: 1.25rem;
        }
        .cart-course-price {
            margin: 0;
            font-weight: 300;
            font-size: 1.1rem;
        }
    }
}