@mixin light-button {
    margin: .5em;
    background-color: $medium-blue;
    &:hover {
      background-color: $light-blue;   
    }
  }

  @mixin dark-button {
    margin: .5em;
    background-color: $dark-blue;
    color: $cream;
    &:hover {
      background-color: $med-dark-blue;  
      color: white; 
    }
  }