@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

$Poppins: 'Poppins', 'Helvetica', sans-serif;
$Lora: 'Lora', serif;
$Patua: 'Patua One', 'Rockwell', serif;

$dark-blue: #2b4570;
$medium-blue: #4f6994;
$light-blue: #8F99AE;
$cream: #fcffeb;
$dark-gray: #292F2D;
