@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import './variables';

body {
  margin: 0;
  font-family: $Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8F99AE;

  hr {
    background-color: $cream;
    margin: 1rem;
  }
<<<<<<< HEAD
}
=======

  .salesPic {
   
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 40px;
 
  }
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }

  .aboutUs {

    padding: 30px;
    text-align: center;
    border: black solid 3px;
  }
  .carouselItem {
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .course-Url {
    width: 500px;
  }
 
>>>>>>> master
