@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import './variables';
@import './events';

body {
  margin: 0;
  font-family: $Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8F99AE;

  h1 {
    font-family: $Patua;
    margin-top: 1rem;
  }

  hr {
    background-color: $cream;
    margin: 1rem;
  }

  form {
    label {
      font-size: 1.125rem;
    }
  }

  .btn-dark-blue {
    @include dark-button;
  }

  .btn-light-blue {
    @include light-button;
  }
}