.SearchBar {
    margin: 0;
    padding: 0;
    color: white;
    label {
        display: none;
    }
    input {
        margin: 0;
        padding: 0;
        margin-right: .25rem;
        height: 1.5rem;
    }
    .search-btn {
        padding: 0 .5rem;
        height: 1.5rem;
        
    }
}