.ShoppingCart {
    display: block;
    width: 100%;
    .shopping-cart-progress {
        width: 80%;
        margin: 0 auto;
        p {
            width: 100%;
            font-weight: 300;
            font-size: 2rem;
            text-align: center;
            padding: 3rem;
            margin: 0;
            margin-bottom: 2rem;
        }
        .shopping-cart-border {
            border-bottom: .125rem solid #2b4570;
        }
        .payment-options-border {
            border-bottom: .125rem solid #fcffeb;
        }
    }
    .shopping-cart-summary-area {
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
        background-color: #2b4570;
        color: #fcffeb;
        border-radius: 1rem;
        .shopping-cart-items {
            padding: 1rem;
        }
        .shopping-summary {
            padding: 1rem;
        }
        .cart-title {
            font-weight: 300;
            font-size: 1.5rem;
            width: 100%;
        }
    }  
}